@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@300&display=swap');
@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css');

/* GENERAL STYLES */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #74335d;
  line-height: 1.5;
  font-size: 0.875rem;
  background-image: url(images/bcg_top.png), url(images/background.gif);
    background-repeat: no-repeat, repeat;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  color: #74335d;
  margin-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #557991;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: #222;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px #222;
  border-radius: 0.25rem;
}

.btn:hover {
  color: #fff;
  background: #222;
}

/* SECTION STYLES */
.section {
  padding: 5rem 0;
}

.section-center {
  background: #fff;
  width: 90vw;
  border-radius: 0.25rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  transition: all 0.3s linear;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
  padding: 2rem;
}

.section-center:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* SHOPPING LIST STYLES */
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
}

.alert-success {
  color: #155724;
  background: #d4edda;
}

.form-control {
  display: flex;
  justify-content: center;
}

#shopping {
  padding: 0.25rem;
  padding-left: 1rem;
  background: #fff4f6;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color:  #74335d;
}

#shopping::placeholder {
  font-family: "Open Sans", sans-serif;
  color: #74335d;
}

.submit-btn {
  background: #ec899c;
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: pointer;
  color: #74335d;
  transition: all 0.3s linear;
  font-size: 0.85rem;
}

.submit-btn:hover {
  background: #ec5d79;
  color: #fff;
}

.shopping-container {
  margin-top: 2rem;
  transition: all 0.3s linear;
  ;
  visibility: hidden;
}

.show-container {
  visibility: visible;
}

.shopping-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: all 0.3s linear;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}

.shopping-item:hover {
  color: #557991;
  background: #fff4f6;
}

.shopping-item:hover .title {
  color: #557991;
}

.title {
  margin-bottom: 0;
  color: #74335d;
  letter-spacing: 2px;
  transition: all 0.3s linear;
  ;
}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: all 0.3s linear;
  ;
}

.edit-btn {
  color: #7fc8ee;
}

.edit-btn:hover {
  color: #557991;
}

.delete-btn {
  color: #ec899c;
}

.delete-btn:hover {
  color: #ec5d79;
}

.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: #ec899c;
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-top: 1.25rem;
}

.clear-btn:hover {
  color: #ec5d79;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
