@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css');

/* GENERAL STYLES */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

